@import "../base";

/* @define Header */
.Header {
  border-top: 4px solid rgb(var(--theme-color-secondary));
  position: relative;
  background: #fff;
}

.Header-content {
  padding: 0.85rem var(--document-margin);
}

.Header-logo {
  display: inline-block;
  padding: 0.3rem;
  margin: -0.3rem;
}

.Header-figure {
  width: 11rem;
  height: auto;
}

.Header-menu {
  padding: 0.5rem var(--document-margin);
  border: solid rgb(229, 229, 229);
  border-width: 1px 0;
}

.Header-nav {

}

.Header-list {

}

:not(.Header-button) .Header-item {
  display: inline-block;
  margin-right: 0.65rem;
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  letter-spacing: -0.02em;
}

.Header-text {
  padding: 0.2rem;
  margin: -0.2rem;
}

.Header-button {
  margin: 0.65rem 0;
  position: absolute;
  top: 0;
  right: var(--document-margin);
}

.Header-button .Header-text {
  display: block;
  padding: 0.4rem 0.7rem;
  margin: 0;
  background: rgb(242, 242, 242);
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.75rem;
}

.Header-icon {
  display: inline-block;
  margin: 0 0.35rem 0.1rem -0.15rem;
  width: 11px;
  vertical-align: middle;
}

.Header-fill {
  transition: fill 150ms var(--ease);
}