@import "../base";

/* @define Header */
.Header {
  border-top: 4px solid rgb(var(--theme-color-secondary));
  position: relative;
  background: #fff;
  transition: border-color 200ms var(--ease-out);
}

.Header-content {
  padding: 0.85rem var(--document-margin);
}

.Header-logo {
  display: inline-block;
  padding: 0.3rem;
  margin: -0.3rem;
  transition: opacity 200ms var(--ease-out);
}

.Header-figure {
  width: 11rem;
  height: auto;
}

.Header-nav {
  padding: 0.5rem var(--document-margin);
  border: solid rgb(229, 229, 229);
  border-width: 1px 0;
}

.Header-item,
.Header-button {
  display: inline-block;
  margin-right: 0.65rem;
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  transition: opacity 200ms var(--ease-out);
}

.Header-item:active,
.Header-button:active,
.Header-logo:active {
  opacity: 0.5;
  transition: none;
}

.Header-logo:active {
  opacity: 0.6;
}

.Header-item.is-selected {
  opacity: 0.5;
}

.Header-text {
  padding: 0.2rem;
  margin: -0.2rem;
}

.Header-hidden {
  display: none;
}

@media (max-width: 599px) {
  .Header-button {
    margin: 0.65rem 0;
    position: absolute;
    top: 0;
    right: var(--document-margin);
    font-family: var(--document-font-family);
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: auto;
  }

  .Header-button:active {
    opacity: 1;
  }

  .Header-button .Header-text:active {
    background: rgb(216, 216, 216);
    opacity: 1;
  }

  .Header-button .Header-text {
    display: block;
    padding: 0.4rem 0.7rem 0.4rem 0.55rem;
    margin: 0;
    background: rgb(242, 242, 242);
    border-radius: 4px;
  }
}

.Header-icon {
  display: inline-block;
  margin: 0 0.35rem 0.1rem 0;
  width: 11px;
  vertical-align: middle;
}

.Header-fill {
  transition: fill 200ms var(--ease-out);
}

@media (min-width: 600px) {
  .Header {
    background: none;
  }

  .Header-container {
    display: flex;
  }

  .Header-content,
  .Header-nav {
    padding: 2rem 0;
  }

  .Header-nav {
    flex: 1 0 auto;
    padding-left: 1.7rem;
    border: 0;
  }

  .Header-item,
  .Header-button {
    margin-right: 1rem;
  }

  .Header-button {
    margin-right: 0;
  }

  .Header-button.is-selected {
    opacity: 0.5;
  }

  .Header-end {
    float: right;
  }
}

@media (min-width: 800px) {
  .Header-hidden {
    display: block;
  }
}

@media (min-width: 1000px) {
  .Header-content,
  .Header-nav {
    padding: 3rem 0;
  }

  .Header-figure {
    width: 13.4rem;
  }

  .Header-nav {
    padding-left: 2.5rem;
  }

  .Header-item,
  .Header-button {
    margin-right: 1.7rem;
    font-size: 1.375rem;
    letter-spacing: 0;
  }

  .Header-button {
    margin-right: 0;
  }

  .Header-icon {
    width: 13px;
    margin-right: 0.4rem;
  }
}