@import "../base";

:root {
  --Card-background-color: 255, 255, 255;
}

/* @define Card */
.Card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  color: rgb(var(--current-color));
}

@media print {
  .Card {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}

.Card--interactive::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  background-color: rgb(var(--Card-background-color, var(--current-background)));
  transition: opacity 150ms var(--ease-out);
  will-change: opacity;
}

.Card--interactive:hover::before {
  opacity: 1;
}

.Card--interactive:active .Card-title {
  opacity: 0.6;
}

.Card-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: flex-start;
  padding: 1.4rem 0.8rem 2rem;
}

@media (min-width: 400px) {
  .Card-content {
    padding: 1.6rem 1.4rem 2.2rem;
  }
}

/**
 * 1. Get a z-index to put ontop of hover shading
 */

.Card-body {
  flex-grow: 1;
  position: relative; /* 1 */
  width: 100%;
}

.Card-body a {
  position: relative;
  z-index: 1;
  transition: opacity 200ms var(--ease-out);
}

.Card-body a:hover {
  text-decoration: underline;
}

.Card-body a:active {
  opacity: 0.5;
  transition: none;
}

.Card-meta {
  display: block;
  margin-bottom: 0.7rem;
  color: rgba(var(--color-muted));
  font-size: 0.875rem;
  font-style: normal;
}

.Card-title {
  font-size: 1.5rem;
  line-height: 1.15;
  font-family: var(--heading-font-family);
  max-width: 22rem;
  letter-spacing: -0.01em;
  margin-left: auto;
  margin-right: auto;
}

.Card-text {
  margin: 0.5rem auto 0;
  max-width: 22rem;
}

@media (min-width: 900px) {
  .Card-title {
    font-size: 2rem;
  }

  .Card-text {
    margin-top: 0.5em;
  }
}

/**
 * Figure
 */

.Card-figure {
  margin: 0;
  max-height: 24rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
  background-color: rgba(var(--loading-color));
}

.Card-figure::before {
  content: "";
  display: block;
  height: 0;
  padding-top: calc(100% * 9/14);
}

.Card-caption {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.Card-image {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

@supports (object-fit: cover) {
  .Card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: none;
  }
}

/**
 * Byline
 */

.Card-byline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0 -0.6rem;
  font-size: 0.875rem;
}

.Card .Card-byline {
  color: rgba(var(--color-muted));
}

.Card-thumbnail {
  display: block;
  margin-right: 0.68rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/**
 * Link
 */

.Card-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}