@import "../base";

/* @define View */
.View {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: rgb(var(--document-background));
}

/**
 * Header
 */

.View-header {
  position: relative;
  z-index: 5;
}

.View-header--appear {
  opacity: 0;
  will-change: opacity;
  animation: View-header--appearing 600ms 100ms var(--ease) forwards;
}

@keyframes View-header--appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    will-change: unset;
  }
}

.View-header--stuck {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * Main content area
 */

.View-main {
  flex-grow: 1;
}

/**
 * Footer
 */

.View-footer::before {
  content: "";
  height: 13vh;
  display: block;
  max-height: 7rem;
}

@media (min-width: 1000px) {
  .View-footer::before {
    max-height: none;
    min-height: 8rem;
  }
}

.View-pushDown {
  margin-bottom: 3.75rem;
}

.View-pushDown::before {
  content: "";
  height: 17vh;
  display: block;
  max-height: 7rem;
}

@media (min-width: 1000px) {
  .View-pushDown::before {
    max-height: none;
    min-height: 10rem;
  }
}

/**
 * Pagination button
 */

.View-pagination,
.View-pagination:hover,
.View-pagination:active {
  display: inline-block;
  padding: 0.4rem 0.7rem;
  margin: 2.9rem 0 0rem;
  font-family: var(--document-font-family);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: none;
  text-align: center;
  background: rgb(var(--theme-color-secondary));
  color: #fff;
  border-radius: 4px;
  transition: background 200ms var(--ease);
}

.View-pagination:active {
  opacity: 0.7;
}

@media (min-width: 600px) {
  .View-pagination,
  .View-pagination:hover,
  .View-pagination:active {
    padding: 0.8rem 3.8rem;
    margin: 3.1rem 0 1.6rem;
  }
}