@import "../base";

/* @define Intro */
:root {
  --Intro-figure-aspect: calc(100% * 9/16);
}

.Intro {
  color: rgb(var(--current-color));
}

.Intro--narrow {
  --Intro-figure-aspect: calc(100% * 20/15);
}

.Intro--center {
  text-align: center;
}

.Intro-tagline {
  display: inline-block;
  margin-bottom: 1.6rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(var(--theme-color-primary));
}

.Intro-title {
  max-width: 13em;
  margin: 0;
  font-size: 2.3rem;
  hyphens: auto;
  font-family: var(--heading-font-family);
  line-height: 1;
}

.Intro--center .Intro-title {
  margin-left: auto;
  margin-right: auto;
}

.Intro-body {
  margin-top: 0.72222em;
  max-width: 40rem;
}

.Intro--center .Intro-body {
  margin-left: auto;
  margin-right: auto;
  font-family: var(--heading-font-family);
  font-size: 1.125rem;
}

.Intro p:not(:first-child) {
  margin-top: 1em;
}

.Intro p:not(:last-child) {
  margin-bottom: 1em;
}

.Intro a {
  text-decoration: underline;
}

.Intro a:hover {
  color: rgb(var(--color-link-shaded));
}

.Intro-figure {
  display: inline-block;
  width: 100%;
  margin-top: 2.2rem;
  max-width: var(--wide-max-width);
  position: relative;
}

.Intro--narrow .Intro-figure {
  max-width: 35rem;
}

.Intro-aspect {
  position: relative;
  padding-bottom: var(--Intro-figure-aspect);
  background: rgba(var(--loading-color));
}

.Intro-image {
  position: absolute;
  top: 0;
  left: 0;
}

.Intro-caption {
  width: 80%;
  max-width: 20rem;
  padding: 1em 1.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(1em, -1em);
  background-color: rgb(var(--theme-color-primary));
}

.Intro-byline {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: var(--heading-font-family);
  line-height: 1.2;
}

.Intro-thumbnail {
  position: relative;
  margin: 0 0 0.5rem;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.Intro--center .Intro-thumbnail {
  margin: 0 auto 1rem;
}

@media (min-width: 350px) {
  .Intro-title {
    font-size: 2.875rem;
  }
}

@media (min-width: 600px) {
  .Intro-title {
    max-width: 18em;
    font-size: 3.5rem;
    line-height: 1.05;
  }

  .Intro-body {
    font-size: 1.125rem;
  }

  .Intro--center .Intro-body {
    font-size: 1.3rem;
    max-width: var(--wide-max-width);
  }

  .Intro-figure {
    margin-top: 3.5rem;
  }

  .Intro-byline {
    display: flex;
    align-items: center;
  }
  
  .Intro--center .Intro-byline {
    justify-content: center;
    margin-left: -0.75rem;
    font-size: 1.125rem;
  }

  .Intro-thumbnail,
  .Intro--center .Intro-thumbnail {
    margin: 0 0.75rem 0 0;
    position: relative;
    top: -0.1rem;
  }
}

@media (min-width: 1000px) {
  .Intro-tagline {
    margin-bottom: 2.1rem;
  }

  .Intro-title {
    font-size: 4rem;
  }

  .Intro--center .Intro-body {
    font-size: 1.5rem;
    max-width: 60rem;
  }

  .Intro-caption {
    transform: translate(15%, -100%);
  }
}

@media (min-width: 1200px) {
  .Intro-caption {
    transform: translate(25%, -100%);
  }
}
