:root {
  /* Colors  */

  --color-red: 167, 57, 36;
  --color-red-light: 167, 57, 36;
  --color-green: 2, 68, 39;
  --color-green-light: 51, 192, 86;
  --color-blue: 18, 62, 121;
  --color-blue-light: 0, 147, 221;

  /* Base styles */

  --document-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --document-font-size: 1rem;
  --document-line-height: 1.4;

  --heading-font-family: "Vollkorn", var(--document-font-family);
  --heading-line-height: 1.2;

  --document-background: 250, 250, 250;
  --document-color: 10, 10, 10;

  --document-min-width: 300px;
  --document-max-width: 1800px;
  --document-margin: 1rem;

  --theme-color: var(--color-red-light);

  --focus-ring-width: 2px;
  --focus-ring-color: var(--color-black);

  --figure-gradient: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.10) 30%,
    rgba(0, 0, 0, 0.11) 55%,
    rgba(0, 0, 0, 0.7) 100%
  );

  /* Easing curves */

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 600px) {
  :root {
    --document-margin: 1.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --document-margin: 2rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --document-margin: 3rem;
  }
}
