@import "../base";

/* @define Footer */
.Footer {
  padding: 1.5rem 0 3rem;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 4px solid rgb(var(--theme-color-secondary));
  margin-top: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.8;
  text-align: center;
  background: #fff;
  user-select: none;
}

.Footer-container {
  display: flex;
  flex-wrap: wrap;
}

.Footer-col {
  flex: 1 1 100%;
}

.Footer-title {
  font-weight: 600;
  margin-top: 3rem;
}

.Footer-link {
  padding: 0.3rem;
  margin: -0.3rem;
  transition: opacity 200ms var(--ease-out);
}

.Footer-link:active {
  opacity: 0.5;
  transition: none;
}

.Footer-link:hover {
  text-decoration: underline;
}

.Footer-meta {
  /* display: flex; */
  flex: 1 1 100%;
  margin-top: 3rem;
  color: rgb(127, 127, 127);
}

.Footer-meta > * {
  margin-bottom: 2rem;
}

.Footer-logo {
  margin: 5rem 0 4rem;
  padding: 0.5rem 0;
  width: 100%;
  cursor: default;
}

.Footer-figure {
  width: 80%;
  display: inline-block;
  height: auto;
  max-width: 17rem;
  transition: opacity 200ms var(--ease-out);
  cursor: pointer;
}

.Footer-logo:active .Footer-figure {
  opacity: 0.6;
  transition: none;
}

.Footer-copy {
  color: rgb(127, 127, 127);
  display: block;
  margin-top: 1.5rem;
}

.Footer-credit {
  color: rgb(127, 127, 127);
  width: 100%;
}

.Footer-cc {
  color: rgb(150, 150, 150);
  display: inline-block;
  vertical-align: middle;
  margin: -0.6rem 0 0 0;
}

.Footer-credit .Footer-figure {
  width: 6rem;
  margin-left: 0.7rem;
}

@media (min-width: 350px) {
  .Footer-col {
    flex: 1 1 50%;
  }

  .Footer-col:nth-child(even) {
    padding-left: 0.25rem;
  }

  .Footer-col:nth-child(odd) {
    padding-right: 0.25rem;
  }
}

@media (min-width: 650px) {
  .Footer {
    padding: 2rem 0 3.5rem;
    margin-top: 3.5rem;
  }

  .Footer-col {
    flex: 1 1 33.3333%;
  }

  .Footer-title {
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
  }

  .Footer-col:nth-child(even),
  .Footer-col:nth-child(odd) {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .Footer {
    padding: 3rem 0 3rem;
    margin-top: 6rem;
  }

  .Footer-col {
    flex: 1 1 20%;
  }

  .Footer-move {
    order: 1;
    flex: 1 1;
    color: rgb(127, 127, 127);
    padding-top: 0.3rem;
    text-align: left;
  }

  .Footer-move .Footer-title {
    display: inline-block;
    margin: 0;
    font-weight: normal;
  }

  .Footer-move .Footer-title::after {
    content: ": ";
    margin-right: 0.5rem;
  }

  .Footer-move .Footer-list {
    display: inline-block;
  }

  .Footer-credit {
    flex: 1 1;
    order: 2;
    text-align: right;
  }

  .Footer-logo {
    margin: 5rem 0 3rem;
  }
}